body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Calibri, sans-serif;
    background: radial-gradient(circle, #400040 0%, #ffffff 100%);
}

h1 {
    font-size: 1.5rem;
    color: #333;
    text-align: center;
}
